<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
     <div class="circle">
        <br />
        Why Autumn
        <br />
        is the
        <br />
        best season
      </div>
    </div>
    <div class="col-xs-4 slogan">
      Obsessed with all things Fall since 2016
      </div>
      <div class="col-xs-5">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>
      </div>
  </header>
  <hr />
<br class="clear" />


<%= yield %>

</body>
</html>
